/*The first element: a black background, white text color, and a bold font weight
The second element: a yellow background
Both elements: a font size of 28px and a list of fonts containing Helvetica and Times New Roman, with sans-serif as a fallback*/

.black,
.yellow {
    font-size:28px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

black{
    background-color: black;
    color: white;
    font-weight: bold;
}

yellow{
    background-color: yellow;
}